body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

#btn-container {
  display: flex;
  height: 100px;
}

#new-book-btn {
  display: flex;
  align-items: center;
  background-color: grey;
  color: white;
  font-weight: 900;
  font-size: larger;
  width: fit-content;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#new-book-btn:active {
  transform: scale(0.98);
}

#new-book-form {
  align-items: start;
  background-color: rgb(218, 218, 218);
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  margin-bottom: 40px;
}

#new-book-form.hidden {
  display: none;
}

#form-buttons {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: end;
  /* border: solid 2px black; */
}

#close-form {
  width: 100%;
  text-align: end;
  margin-bottom: 8px;
  margin-top: -5px;
  cursor: pointer;
  font-size: 20px;
}

#submit-form {
  display: flex;
  align-items: center;
  background-color: grey;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

#submit-form:active {
  transform: scale(0.98);
}

#book-container {
  display: flex;
  width: 1100px;
  gap: 20px;
  flex-wrap: wrap;
}

.book {
  width: 200px;
  align-items: start;
  background-color: rgb(218, 218, 218);
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.delete-book {
  width: 100%;
  text-align: end;
  margin-bottom: 8px;
  margin-top: -5px;
  cursor: pointer;
  font-size: 20px;
}

input[type="checkbox"] {
  accent-color: #3a393a;
}
